$full: 1400px;
$large: 1200px;
$tablette: 1024px;
$mobile: 768px;
$oldMobile: 568px;

$white:#FFF;
$light-gray : #f4f4f4;
$medium-gray : #555;
$dark-gray: #747473;

$dark-blue:#447590;
$light-blue:#6db5db;
$blue:#4486bf;

$doc-color:#0077a7;
$sondage-color:#da002c;
$forum-color:#2d307f;
$event-color:#ff8434;
