.acf-map {
	width: 100%;
	height: 60vh;
	min-height:400px;
	border: #ccc solid 1px;
	margin: 20px 0;
	*{
		transition: none;
	}
}

/* fixes potential theme css conflict */
.acf-map img {
   max-width: inherit !important;
}

.controls {
margin-top: 10px;
border: 1px solid transparent;
border-radius: 2px 0 0 2px;
box-sizing: border-box;
-moz-box-sizing: border-box;
height: 32px;
outline: none;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 300px;
}

#pac-input:focus {
	border-color: #4d90fe;
}

.pac-container {
	font-family: Roboto;
}

#type-selector {
	color: #fff;
	background-color: #4d90fe;
	padding: 5px 11px 0px 11px;
}

#type-selector label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}
#target {
	width: 345px;
}
h2{
	font-weight: bold;
	font-size: 1.5em;
}


#form-search{
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-gap:1em;
	select{width:100%;}
	.cont-button{
		grid-column: span 2;
		text-align: center;
	}
}
#membres{
	h4{
		line-height: 1;
		margin-bottom:0;
		text-transform: uppercase;
	}
	p.address{
		text-transform: capitalize;
		font-weight: bold;
		a{
			text-decoration: underline;
			font-weight: normal;
		}
	}
}
