@import 'variables';
#cont-contact{
	display: grid;
	grid-template-columns: 1fr 1fr;
	@media screen and (max-width: $mobile) {
		grid-template-columns: 1fr;
	}
	grid-gap: 1em;
}
#form-profil p{
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-gap:1em;
	label{
		text-align: right;
	}
}
