@import 'variables';

.fil_ariane{
	&.doc{
		background-color: $doc-color;
	}
	&.doubleActions{
		display: grid;
		grid-template-columns: 1fr 1fr;
		p{
			margin:0;
		}
		.right{
			text-align: right;
			padding:.5em;
			font-size:14px;
			a{
				color:$white;
				font-weight: bold;
				text-decoration: underline;
				&:hover{
					color:$dark-blue;
				}
			}
		}
	}
}
.formDoc{
	margin: 2em 0 4em;
	display: grid;
	grid-template-columns : 1fr 1fr 1fr;
	grid-gap: 1em;
	#cont-button{
		position: relative;
		.button{
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(-50%, -50%);
			background-color: $doc-color;
			&:hover{
				color:$light-blue;
			}
		}
	}
	@media screen and (max-width: $mobile) {
		grid-template-columns: 1fr 1fr;
		#cont-button{
			grid-column: 1 / -1;
			.button{
				margin:1em auto;
			}
		}
	}
	@media screen and (max-width: $oldMobile) {
		grid-template-columns: 1fr;
	}
}

.doc-item{
	margin-top:2em;
	border-bottom: solid 1px $dark-gray;
	.doc-titre h2{
		font-size:16px;
		font-weight: bold;
		color:$doc-color;
	}
	.doc-excerpt p{
		margin-top:0;
	}
	.doc-button .fa{
		font-size: 50px;
		color:$doc-color;
	}
	display: grid;
	grid-template-columns: 1fr 100px;
	grid-gap: 1em;
	grid-template-areas:  	"titre button"
							"info button"
							"content button";
	.doc-titre {
		grid-area: titre;
	}
	.doc-info {
		grid-area: info;
	}
	.doc-content {
		grid-area: content;
	}
	.doc-button {
		grid-area: button;
		position: relative;
		text-align: right;
		min-height:120px;
		a{
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(-50%, -50%);
		}
	}
}

#formCreateDoc{
	&>div{
		margin:1em 0 2em;
	}
	textarea{
		height:200px;
	}
	.button-doc{
		background-color: $doc-color;
		color:$white;
		border:solid 1px $white;
		&:hover{
			border:solid 1px $light-blue;
			color:$light-blue;
		}
	}
}
