@import 'variables';

.event-item {
	border-bottom: solid 1px $dark-gray;
	&>div{
		margin-bottom: 1em;
	}
}
.fil_ariane{
	&.event{
		background-color: $event-color;
	}
}
.formEvent{
	margin: 2em 0 4em;
	display: grid;
	grid-template-columns : 1fr 1fr 1fr;
	grid-gap: 1em;
	#cont-button{
		position: relative;
		.button{
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(-50%, -50%);
			background-color: $event-color;
			&:hover{
				color:$dark-gray;
			}
		}
	}
	@media screen and (max-width: $mobile) {
		grid-template-columns: 1fr 1fr;
		&>div:first-of-type{
			grid-area: repertoire;
		}
		&>div:nth-of-type(2){
			grid-area: recherche;
		}
		#cont-button{
			grid-area: button;
			grid-column: 1 / -1;
			.button{
				margin:1em auto;
			}
		}
		grid-template-areas:  	"repertoire recherche"
								"button .";
	}
	@media screen and (max-width: $oldMobile) {
		grid-template-columns: 1fr;
		&>div:first-of-type{
			grid-area: repertoire;
		}
		&>div:nth-of-type(2){
			grid-area: recherche;
		}
		#cont-button{
			grid-area: button;
			grid-column: 1 / -1;
			.button{
				margin:1em auto;
			}
		}
		grid-template-areas:  	"repertoire"
		 						"recherche"
								"button";
	}
}

.event-item{
	margin-top:2em;
	.event-titre {
		h2{
			font-size:16px;
			font-weight: bold;
			margin:0;
		}
		time{
			color:$event-color;
			font-size:16px;
			font-weight: bold;
		}
	}
	.event-info{
		.fa{
			color:$event-color;
		}
	}
	.event-excerpt p{
		margin-top:0;
	}
	.event-button .button{
		min-width: 130px;
	}
}
