@import 'variables';

.extranet>main{
	display: grid;
	grid-template-columns: 1fr 1fr;
	@media screen and (max-width: $mobile) {
		grid-template-columns: 1fr;
	}
	grid-gap: 1em;

	.fil_ariane a{
		color:$white;
	}

	.forum-item{
		@media screen and (min-width: $mobile) {
			grid-template-columns: 2fr minmax(110px,1fr) 4fr minmax(140px,1fr);
		}
	}

	.sondage-item{
		.sondage-excerpt{
			display: none;
		}
		grid-template-columns: 2fr 1fr minmax(180px,1fr);
		grid-template-areas: "titre date button";
		.sondage-button{
			text-align: right;
			.button{
				position: relative;
				top:unset;
				left:unset;
				transform: translate(-.5em,-12px);
			}
		}
	}
	.event-item{
		display: grid;
		grid-template-columns: 3fr 3fr minmax(130px,1fr);
		grid-gap:1em;
		.event-excerpt{
			display:none;
		}
	}
}
