@import 'variables';
footer{
	background-color: $light-gray;
	padding-top:1em;
	margin-top:1em;
}
#inner-footer{
	display: grid;
	grid-template-columns: 200px 1fr 210px;
	padding: .5em 0;

	@media screen and (max-width: $large) {
		grid-template-columns: 200px 1fr;
		.prisme{
			display:none;
		}
	}
	@media screen and (max-width: $tablette) {
		.rs-footer>span{
			display: none;
		}
	}
	@media screen and (max-width: $mobile) {
		grid-template-columns: 150px 1fr;
	}
	@media screen and (max-width: $oldMobile) {
		.nav-footer nav{
			display: none;
		}
	}
	.nav-footer{
		position:relative;
		.rs-footer{
			position:absolute;
			top:0;
			right:0;
			a:hover{
				text-decoration: none;
			}
			.fa{
				text-align: center;
				background-color: $dark-gray;;
				color:#fff;
				border-radius: 50%;
				width:13px;
				padding:3px;
				&:hover{
					background-color: $light-blue;
				}
			}
			&>span{
				text-transform: uppercase;
			}
		}
		.copyright{
			position:absolute;
			bottom:0;
			right:0;
		}
	}
	.prisme{
		img{
			margin-top: -100px;
		}
		padding-left: 1em;
	}
	@media screen and (max-width: $tablette) {

	}
	@media screen and (max-width: $mobile) {

	}
}
.footer-links{
	&>.menu-item{
		display: inline-grid;
		padding-right:1em;
		padding-left:1em;
		max-width:300px;
		text-transform: uppercase;
		a:hover{
			color:$light-blue;
		}
		&:not(:last-of-type){
			border-right: solid 1px $dark-gray;

		}
		&>a{
			font-weight: bold;
		}
		.menu{
			margin-top:.5em;
		}
	}

}
#menu-footer-extranet{
	display: grid;
	grid-template-columns: 160px 1fr;
	grid-gap: 1em;
	@media screen and (max-width: $mobile) {
		display:none;
	}
}
