@import 'variables';

.forum-item {
	border-bottom: solid 1px $dark-gray;
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: 4fr 2fr 4fr 1fr;
	grid-template-areas:  "titre info excerpt btn";
	@media screen and (max-width: $mobile) {
		grid-template-columns: 1fr 1fr;
		grid-template-areas:  	"titre excerpt"
								"info btn";
	}
	@media screen and (max-width: $oldMobile) {
		grid-template-columns: 1fr;
		grid-template-areas:  	"titre"
								"info"
		 						"excerpt"
								"btn";
	}

	.forum-titre {
		grid-area: titre;
	}
	.forum-info {
		grid-area: info;
	}
	.forum-excerpt {
		grid-area: excerpt;
	}
	.forum-bouton {
		grid-area: btn;
	}
}
.fil_ariane{
	&.forum{
		background-color: $forum-color;
	}
	&.doubleActions{
		display: grid;
		grid-template-columns: 1fr 1fr;
		p{
			margin:0;
		}
		.right{
			text-align: right;
			padding:.5em;
			font-size:14px;
			a{
				color:$white;
				font-weight: bold;
				text-decoration: underline;
				&:hover{
					color:$dark-blue;
				}
			}
		}
	}
}
.formForum{
	margin: 2em 0 4em;
	display: grid;
	grid-template-columns : 1fr 1fr 1fr;
	grid-gap: 1em;
	#cont-button{
		grid-row: 1 /  3;
		grid-column: 3;
		position: relative;
		.button{
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(-50%, -50%);
			background-color: $forum-color;
			&:hover{
				color:$light-blue;
			}
		}
	}
	#tags{
	  grid-column: 1 / 3;
	}
	@media screen and (max-width: $mobile) {
		grid-template-columns: 1fr 1fr;
		&>div:first-of-type{
			grid-area: repertoire;
		}
		&>div:nth-of-type(2){
			grid-area: recherche;
		}
		#cont-button{
			grid-area: button;
			grid-column: 1 / -1;
			text-align: center;
			.button{
				position: relative;
			}
		}
		#tags{
		  grid-area: tags;
		  grid-column: 1 / -1;
		  text-align: center;
		}
		grid-template-areas:  	"repertoire recherche"
		 						"tags ."
								"button .";
	}
	@media screen and (max-width: $oldMobile) {
		grid-template-columns: 1fr;
		&>div:first-of-type{
			grid-area: repertoire;
		}
		&>div:nth-of-type(2){
			grid-area: recherche;
		}
		#cont-button{
			grid-area: button;
			grid-column: 1 / -1;
			text-align: center;
			.button{
				position: relative;
			}
		}
		#tags{
		  grid-area: tags;
		  grid-column: 1 / -1;
		  text-align: center;
		}
		grid-template-areas:  	"repertoire"
		 						"recherche"
								"tags"
								"button";
	}
}
form .tag{
	min-width:auto;
	background-color: $forum-color;
	color:$white;
	border:solid 1px $white;
	&.active{
		border:solid 1px $light-blue;
		color:$light-blue;
	}
	&:hover{
		text-decoration: underline;
	}
}
.forum-item{
	margin-top:2em;
	.forum-titre a{
		font-size:16px;
		font-weight: bold;
	}
	.forum-info{
		.fa{
			color:$forum-color;
		}
	}
	.forum-excerpt p{
		margin-top:0;
	}
	.forum-button .button{
		min-width: 130px;
	}
}

#formCreateForum{
	&>div{
		margin:1em 0 2em;
	}
	textarea{
		height:200px;
	}
	.button-forum{
		background-color: $forum-color;
		color:$white;
		border:solid 1px $white;
		&:hover{
			border:solid 1px $light-blue;
			color:$light-blue;
		}
	}
}
.single-forum{
	h1{
		font-size:16px;
	}
	.comment-author{
		background-color: $forum-color;
		color:$white;
		padding:.5em;
		position:relative;
		time{
			position: absolute;
			top:50%;
			right:1em;
			transform: translateY(-50%);
		}
	}
	.comment-respond{
		margin-top:3em;
	}
}
