@import 'variables';

.post-type-archive{

  .paragraphe{
    display:grid;
    grid-template-columns: 1fr 1fr;
    @media screen and (max-width: $mobile) {
      grid-template-columns: 1fr;
    }
    grid-gap:1em;


    a:hover{
      text-decoration: none;
    }
  	.paragraphe-title{
      grid-column: 1/span 2;
      @media screen and (max-width: $mobile) {
        grid-column: 1;
      }
  		background-color: $dark-blue;
  		border-radius: .5em;
  		h2{
  			color:$white;
  			padding:.5em;
  			.fa{
  				color:$white;
  				font-size:18px;
  				margin-right:.5em;
  			}
  		}
  	}
  }

}

#presentation{
	background-color: $light-gray;
	//margin:1em 0;
	//border-top:solid 1em $white;
	padding:1em;
	#presentation-item{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		@media screen and (max-width: $mobile) {
			grid-template-columns: 1fr;
		}
		grid-gap: 5em;
		&>.bloc{
			text-align: center;
			a:hover{
				text-decoration: none;
				h2{
					color:$dark-gray;
				}
				img{
					filter:grayscale(80%);
				}
			}
			img{
				height:50px;
				width:auto;
			}
			h2{
				display:inline-block;
				color:$light-blue;
				font-size: 30px;
				padding-left: 8px;;
				transform:translateY(-20px);
				text-transform: uppercase;
				margin:0;
			}
			.description{
				font-weight: bold;
			}
		}
	}
	#presenation-contenu{
		text-align: center;
		margin:auto 5em;
		@media screen and (max-width: $tablette) {
			margin:2em;
		}
	}
}

#actualite{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1em;
	@media screen and (max-width: $tablette) {
		grid-template-columns: 1fr 1fr;
	}
	@media screen and (max-width: $oldMobile) {
		grid-template-columns: 1fr;
	}
	.actu-item{
		height: 330px;
		background-size: cover;
		background-position: top;
		overflow: hidden;
		.actu-item-content{
			height:310px;
			padding:1em;
			background-color: $light-blue;
			transform: translateY(190px);
			@media screen and (max-width: $mobile) {
			//	transform: translateY(225px);
			}
			*{
				color:$white;
			}
			h3 a{
				text-transform: uppercase;
			}
		}
		&:hover .actu-item-content{
			//transform: translateY(0px);
		}
	}
}
.archive h1{
	font-size:16px;
}
@media screen and (max-width: $full) {
	.prisme{
		display: none;
	}
}
