@import 'variables';

/*@font-face{font-family:"Gotham Pro";src:url(../font/gotham-pro-bold.otf) format("truetype");font-weight:bold}
@font-face{font-family:"Gotham Pro";src:url(../font/gotham-pro-italic.otf) format("truetype");font-style: italic;}
@font-face{font-family:"Gotham Pro";src:url(../font/gotham-pro-light.otf) format("truetype");font-weight:100}
@font-face{font-family:"Gotham Pro";src:url(../font/gotham-pro-medium.otf) format("truetype");font-weight:500}
@font-face{font-family:"Gotham Pro";src:url(../font/gotham-pro-regular.otf) format("truetype");font-weight:normal;}*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700');
body{
	*{
		font-family:'Open Sans', sans-serif;
		font-size:12px;
		transition: all .4s;
		color:$dark-gray;
		line-height: 1.5;
	}
    .wrapper{
        max-width: 1400px;
        margin:auto;
        padding: 0 1em;
    }
	#pre-content{
		max-width: 1024px;
		margin:auto;
		padding: 0 1em;
		#img-pre-content{
			width:100%;
			height:200px;
			background-color: green;
			background-position: center;
			background-size: cover;
		}
		position:relative;
		#nbrAdherentsPopup{
			background-color:$light-blue;
			color:$white;
			padding:1em;
			text-transform: uppercase;
			text-align: center;
			margin:1em 0;
			a{
					color:$white;
			}
		}
	}
	#content{
		max-width: 768px;
		margin:auto;
		padding: 1em 0;
	}
}

a{
    text-decoration: none;
    color:$dark-gray;;
    &:hover{
        text-decoration: underline;
        //color:$white;
    }
	.fa, .fa:hover{
		text-decoration: none;
	}
}
img{
    max-width: 100%;
}
.button{
	outline:0;
	vertical-align: middle;
	display: inline-block;
	border:none;
	font-weight: normal;
    background: $dark-gray;
    color:$white;
	min-width:180px;
	padding:.5em;
	margin:.25em;
	text-align: center;
	cursor:pointer;
	box-sizing: border-box;
	text-decoration: none;
	.fa{
		color:$white;
	}
	&:hover{
		text-decoration: none;
		background-color: $medium-gray;
	}
	&.button-very-small{
		min-width:50px;
	}
	&.button-radius{
		border-radius: .5em;
	}
	&.button-border{
		border:solid 3px $white;
	}
	&.button-blue{
		background: $light-blue;
		//border:none;
		&:hover{
			background: $dark-blue;
		}
	}
	&.button-transparent{
		background-color: transparent;
		&:hover{
			background: $white;
			color:$dark-blue;;
		}
	}
	&.button-white{
		border:solid 3px $dark-gray;
		background-color: $white;
		color:$dark-gray;
		&:hover{
			background-color: $light-gray;
			color:$dark-blue;
			border:solid 3px $dark-blue;
		}
	}

}
ul{
	list-style-type: none;
	margin:0;
	padding:0;
}
.row{
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
	grid-column-gap: 1rem;
}
.text-center{
	text-align:center;
}

/********Accordion**********/

.accordion{
	.accordion-title{
		cursor: pointer;
	}
	.accordion-content{
		height: 0;
		transform: scaleY(0);
		transform-origin: 50% 0;
		opacity:0;
		overflow:hidden;

	}
	.accordion-open .accordion-content{
		height: 100%;
		transform: scaleY(1);
		opacity:1;
	}
}

/**********Modal*************/
.modal{
	text-align: center;
	width:calc(100% - 2em);
	max-width:600px;
	height:auto;
	max-height:300px;
	position:fixed!important;
	top:-300px;
	left:50%;
	z-index: 5;
	transform: translate(-50%, -50%);
	background-color: #FFF;
	border: solid 1px #000;
	box-shadow: 5px 10px 10px #666;
	&.openModal{
		top:50%;
	}
	position: relative;
	.modal-header{
		.button{
			position: absolute;
			top:.25em;
			right:.25em;
			background-color: transparent;
			color:$dark-gray;
			.fa{
				color:$dark-gray;
			}
			&:hover{
				background-color: $dark-gray;
				.fa{
					color:$white;
				}
			}
		}
	}
}

/**********overlay**********/
.overlay{
	height:0px;
	width:0px;
	background-color:#000;
	opacity:0;
	position:fixed!important;
	z-index:4;
	overflow:auto;
	transition: width 0s, height 0s, opacity .4s;
	&.overlayOpen{
		width:100%;
		height:100%;
		opacity:.5;
		cursor: pointer;
		transition: width 0s, height 0s, opacity .4s;
	}
}
/***************Pagination***/
.page-navigation{
	margin:1em;
	text-align: center;
}
	.pagination {
    margin-left: 0;
    margin-bottom: 1rem; }
    .pagination::before, .pagination::after {
      display: table;
      content: ' '; }
    .pagination::after {
      clear: both; }
    .pagination li {
      margin-right: 0.0625rem;
      border-radius: 0;
      font-size: 0.875rem;
      display: none; }
      .pagination li:last-child, .pagination li:first-child {
        display: inline-block; }
      @media print, screen and (min-width: 40em) {
        .pagination li {
          display: inline-block; } }
    .pagination a,
    .pagination button {
      display: block;
      padding: 0.1875rem 0.625rem;
      border-radius: 0;
      color: #0a0a0a; }
      .pagination a:hover,
      .pagination button:hover {
        background: #e6e6e6; }
    .pagination .current {
      padding: 0.1875rem 0.625rem;
      background: $dark-blue;
      color: $white;
      cursor: default; }
    .pagination .disabled {
      padding: 0.1875rem 0.625rem;
      color: #cacaca;
      cursor: not-allowed; }
      .pagination .disabled:hover {
        background: transparent; }
    .pagination .ellipsis::after {
      padding: 0.1875rem 0.625rem;
      content: '\2026';
      color: #0a0a0a; }

  .pagination-previous a::before,
  .pagination-previous.disabled::before {
    display: inline-block;
    margin-right: 0.5rem;
    content: '\00ab'; }

  .pagination-next a::after,
  .pagination-next.disabled::after {
    display: inline-block;
    margin-left: 0.5rem;
    content: '\00bb'; }




.pagination-previous a::before, .pagination-previous.disabled::before {
  content: '\00ab'; }

.pagination-next a::after, .pagination-next.disabled::after {
  content: '\00bb'; }

  form{
  	input[type="text"], input[type="tel"], input[type="email"],input[type="password"], textarea, select{
  		background-color: $light-gray;
  		border:none;
  		padding:.5em;
  		width:calc(100% - 1em);
  		color:$light-blue;
  		&::placeholder{
  			color:$dark-gray;
  		}
  	}
	select{
		height:26px;
	}
  }

  #loginform{
	  input[type="text"], input[type="tel"], input[type="email"],input[type="password"], textarea, select{
    		width:calc(100% - 3em);
    	}
  }
/************HELPER*/
.align-right{
	text-align: right;
}
.float-left{
	float: left;
}
