@import 'variables';

header{
	background-color: $light-gray;
	#sub-header{
		text-align: right;
		padding:.4em 0;
		border-bottom: solid 1px $dark-gray;
		a{
			color:#666;
			&:hover{
				text-decoration: none;
				.fa{
					background-color: $light-blue;
				}
			}
			.fa{
				text-align: center;
				background-color: $dark-gray;;
				color:#fff;
				border-radius: 50%;
				width:13px;
				padding:3px;
			}
		}
		@media screen and (max-width: 940px) {
			display:none;
		}
	}
	.header-row{
		display: grid;
		grid-template-columns: 200px 1fr 205px;
		padding: .5em 0;
		.header-button-mobile, .header-button-tablette{
			display:none;
			text-align: right;
		}
		@media screen and (max-width: $large) {
			grid-template-columns: 150px 1fr 180px;
		}
		@media screen and (max-width: 1270px) {
			grid-template-columns: 150px 1fr 50px;
			.header-button{
				display:none;
			}
			.header-button-tablette{
				display:block;
			}

		}
		@media screen and (max-width: 940px) {
			grid-template-columns: 150px 1fr;
			.header-menu{
				display:none;
			}
			#header-mobile-rs{
				display:none;
			}
			.header-button-mobile{
				display:block;
				#burger-menu{
					background-color: transparent;
					color:$dark-gray;
					.fa{
						font-size:20px;
						color:$dark-gray;
					}
				}
			}
		}
		.header-logo{
			margin-top: 1em;
			@media screen and (max-width: $tablette) {
				margin-top: 2em;
			}
		}
		.header-menu{
			position:relative;
			.main-menu{
				position: absolute;
				top:50%;
				left:1em;
				transform: translateY(-50%);

				&>.menu-item{
					float: left;
					padding:1.95em 1em 0em 1em;
					@media screen and (max-width: $tablette) {
						padding:1.95em 1em 0em 0;
						a{
							text-transform: capitalize !important;
							font-size: 15px !important;
						}
						span{
							font-size: 15px !important;
						}
					}
					position:relative;
					border-bottom: solid 1px transparent;
					span{
						display:block;
						color:$light-blue;
						font-weight: normal !important;
						font-size: 17px;
					}
					a{
						font-weight: bold;
						font-size: 17px;
						text-transform: uppercase;
						&:hover{
							text-decoration: none;
							color:$light-blue;
						}
					}
          &.orange>a{
            color:orange;
		  }
		  &.blue>a{
            color:$light-blue;
          }
					&>.menu{
						display:none;
						position:absolute;
					}
					&:hover{
						border-bottom: solid 1px $dark-gray;
						&>.menu{
							display:block;
						}
					}
					&.active{
						//text-decoration: underline;
						border-bottom: solid 1px $dark-gray;
					}
					&.menuIllu{
						padding-top:1em;
						padding-left: calc(35px + 1em);
						&:before{
							position:absolute;
							margin-left: -35px;
						}
						a{
							text-transform: capitalize;
							line-height: 1;
							span{
								line-height: 1;
							}
						}
						&:hover{
							a{
								color:$light-blue;
								span{
									color:$medium-gray;
								}
							}
							&:before{
								filter: grayscale(100%);
							}
						}
						&.presentation{

							&:before{
								content: url(../img/PictoPresentation.png);
							}
						}
						&.projet{
							&:before{
								content: url(../img/PictoProjet.png);
							}
						}
						&.mission{
							&:before{
								content: url(../img/PictoMission.png);
							}
						}
					}
				}
			}
		}
		.header-button{
			text-align: right;
		}
	}
}
#menuMobile{
	height:100%;
	width:0px;
	background-color:$light-blue;
	position:fixed!important;
	z-index:5;
	overflow:auto;
	.menu-responsive{
		a{
			color:$white;
		}
	}
	&.menuMobileOpen{
		width:320px;
	}
	#times-menu{
		background-color: transparent;
		border:none;
		.fa{
			font-size: 20px;
			color:$white;
		}
	}
	.menu-item{
		a{
			font-size:14px;
		}
		padding:.5em 2em;
		&.active:not(.current_page_parent)>a{
			border-bottom: solid 1px $white;
		}
	}
}


/*************ariane*/
.fil_ariane{
	background-color: $light-blue;
	p{
		margin: 0 auto;
		padding:.5em;
		max-width:768px;
		color:$white;
		font-weight: bold;
		font-size:14px;
		.fa{
			color:$white;
			font-size:18px;
			margin-right:1em;
		}
	}
}

.header-extranet .header-row{
	grid-template-columns: 200px 1fr 230px;
	.main-menu{
		&>.menu-item{
			@media screen and (max-width: $large) {
				padding:1.95em 1em 0em 0;
				a{
					text-transform: capitalize !important;
					font-size: 15px !important;
				}
				span{
					font-size: 15px !important;
				}
			}
		}
	}
	@media screen and (max-width: $tablette) {
		grid-template-columns: 150px 1fr;
		.header-menu{
			display:none;
		}
		#header-mobile-rs{
			display:none;
		}
		.header-button-mobile{
			display:block;
			#burger-menu{
				background-color: transparent;
				color:$dark-gray;
				.fa{
					font-size:20px;
					color:$dark-gray;
				}
			}
		}
	}
}

.header-button-extranet{
	padding-top:2em;
	text-align: right;
	.form_search{
		input{
			width:auto;
			background-color: $white;
		}
	}
}
