@import 'variables';
h1{
	width:100%;
	text-align: center;
	text-transform: uppercase;
	color:$dark-blue;
}

.paragraphe{
	.paragraphe-title{
		background-color: $dark-blue;
		border-radius: .5em;
		h2{
			color:$white;
			padding:.5em;
			.fa{
				color:$white;
				font-size:18px;
				margin-right:.5em;
			}
		}
	}
}
