@import 'variables';
h1{
	font-size: 33px;
    letter-spacing: 6px;
	color:transparent;
	background: linear-gradient(90deg, $light-blue, $dark-blue);
	-webkit-background-clip: text;
	background-clip: text;
    -webkit-text-fill-color: transparent;
	text-align: center;
}

.accordion{
	.accordion-item{
		border:solid 1px $dark-gray;
		border-radius: 5px;
		margin-bottom:.5em;
		.accordion-title{
			padding: 4px;
			font-size:24px;
			.fa{
				color:$dark-blue;
				font-size:24px;
			}
		}
		&.accordion-open{
			.accordion-title{
				background-color: $light-blue;
				color:$white;
			}
		}
		.accordion-content p{
			margin: 1em 2em;
		}
	}
}
