@import 'variables';
h1{
	margin:0;
}
.author{
	border-top:solid 2px $dark-gray;
	padding-top:1em;
}
nav{
	position: relative;
	min-height:40px;
	.button[rel="prev"]{
		margin-left:0;
	}
	.button[rel="next"]{
		right:0;
		position:absolute;
	}
	@media screen and (max-width: $oldMobile) {
		text-align: center;
		.button[rel="next"]{
			position:relative;
		}
	}
}
