@import 'variables';

.fil_ariane{
	&.sondage{
		background-color: $sondage-color;
	}
}
.formSondage{
	margin: 2em 0 4em;
	display: grid;
	grid-template-columns : 1fr 1fr;
	grid-gap: 1em;
	#cont-button{
		position: relative;
		.button{
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(-50%, -50%);
			background-color: $sondage-color;
			&:hover{
				color:$light-blue;
			}
		}
	}
	@media screen and (max-width: $mobile) {
		grid-template-columns: 1fr 1fr;
		#cont-button{
			.button{
				margin:1em auto;
			}
		}
	}
	@media screen and (max-width: $oldMobile) {
		grid-template-columns: 1fr;
	}
}

.sondage-item{
	margin-top:2em;
	border-bottom: solid 1px $dark-gray;
	.sondage-titre h2{
		font-size:16px;
		font-weight: bold;
		color:$sondage-color;
	}
	.sondage-excerpt p{
		margin-top:0;
	}
	.sondage-button .fa{
		font-size: 50px;
		color:$sondage-color;
	}
	display: grid;
	grid-template-columns: 1fr 2fr 4fr minmax(180px,1fr);
	grid-gap: 1em;
	grid-template-areas:  	"date titre content button";
	.sondage-date {
		grid-area: date;
	}
	.sondage-titre {
		grid-area: titre;
		a{
			font-size:16px;
			font-weight: bold;
			color:$sondage-color;
		}
	}
	.sondage-excerpt {
		grid-area: content;
	}
	.sondage-button {
		grid-area: button;
		position: relative;
		text-align: right;
		a{
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(-50%, -50%);
		}
	}
}
