@font-face {
  font-family: "Gotham Pro";
  src: url(../font/gotham-pro-bold.otf) format("truetype");
  font-weight: bold; }

@font-face {
  font-family: "Gotham Pro";
  src: url(../font/gotham-pro-italic.otf) format("truetype");
  font-style: italic; }

@font-face {
  font-family: "Gotham Pro";
  src: url(../font/gotham-pro-light.otf) format("truetype");
  font-weight: 100; }

@font-face {
  font-family: "Gotham Pro";
  src: url(../font/gotham-pro-medium.otf) format("truetype");
  font-weight: 500; }

@font-face {
  font-family: "Gotham Pro";
  src: url(../font/gotham-pro-regular.otf) format("truetype");
  font-weight: normal; }

body * {
  font-family: "Gotham Pro";
  font-size: 12px;
  transition: all .4s;
  color: #747473;
  line-height: 1.5; }

body .wrapper {
  max-width: 1400px;
  margin: auto;
  padding: auto 1em; }

body #pre-content {
  max-width: 1024px;
  margin: auto;
  padding: auto 1em; }
  body #pre-content #img-pre-content {
    width: 100%;
    height: 200px;
    background-color: green;
    background-position: center;
    background-size: cover; }

body #content {
  max-width: 768px;
  margin: auto;
  padding: 1em; }

a {
  text-decoration: none;
  color: #747473; }
  a:hover {
    text-decoration: underline; }

img {
  max-width: 100%; }

.button {
  outline: 0;
  vertical-align: middle;
  display: inline-block;
  border: solid 1px #FFF;
  font-weight: normal;
  background: #747473;
  color: #FFF;
  min-width: 180px;
  padding: .5em;
  margin: .25em;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  text-decoration: none; }
  .button:hover {
    text-decoration: none;
    background-color: #555; }
  .button.button-very-small {
    min-width: 50px; }
  .button.button-radius {
    border-radius: .5em; }
  .button.button-blue {
    background: #6db5db; }
    .button.button-blue:hover {
      background: #447590; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.row {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 1rem; }

/********Accordion**********/
.accordion .accordion-title {
  cursor: pointer; }

.accordion .accordion-content {
  height: 0;
  transform: scaleY(0);
  transform-origin: 50% 0;
  opacity: 0;
  overflow: hidden; }
  .accordion .accordion-content.accordion-open {
    height: 100%;
    transform: scaleY(1);
    opacity: 1; }

/**********Modal*************/
.modal {
  text-align: center;
  width: 600px;
  height: auto;
  max-height: 300px;
  position: fixed !important;
  top: -300px;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  border: solid 1px #000;
  box-shadow: 5px 10px 10px #666;
  position: relative; }
  .modal.openModal {
    top: 50%; }
  .modal .modal-header .button {
    position: absolute;
    top: .25em;
    right: .25em; }

/**********overlay**********/
.overlay {
  height: 0px;
  width: 0px;
  background-color: #000;
  opacity: 0;
  position: fixed !important;
  z-index: 4;
  overflow: auto;
  transition: width 0s, height 0s, opacity .4s; }
  .overlay.overlayOpen {
    width: 100%;
    height: 100%;
    opacity: .5;
    cursor: pointer;
    transition: width 0s, height 0s, opacity .4s; }

/************HELPER*/
.align-right {
  text-align: right; }
