header {
  background-color: #f4f4f4; }
  header #sub-header {
    text-align: right;
    padding: .4em 0;
    border-bottom: solid 1px #747473; }
    header #sub-header a {
      color: #666; }
      header #sub-header a .fa {
        text-align: center;
        background-color: #747473;
        color: #fff;
        border-radius: 50%;
        width: 13px;
        padding: 3px; }
    @media screen and (max-width: 768px) {
      header #sub-header {
        display: none; } }
  header .header-row {
    display: grid;
    grid-template-columns: 200px 1fr 210px;
    padding: .5em 0; }
    header .header-row .header-button-mobile, header .header-row .header-button-tablette {
      display: none;
      text-align: right; }
    @media screen and (max-width: 1024px) {
      header .header-row {
        grid-template-columns: 150px 1fr 100px; }
        header .header-row .header-button {
          display: none; }
        header .header-row .header-button-tablette {
          display: block; } }
    @media screen and (max-width: 768px) {
      header .header-row {
        grid-template-columns: 150px 1fr; }
        header .header-row .header-menu {
          display: none; }
        header .header-row .header-button-mobile {
          display: block; } }
    header .header-row .header-logo {
      margin-top: 1em; }
    header .header-row .header-menu {
      position: relative; }
      header .header-row .header-menu .main-menu {
        position: absolute;
        top: 50%;
        left: 1em;
        transform: translateY(-50%); }
        header .header-row .header-menu .main-menu > .menu-item {
          float: left;
          padding: 1.95em 2em 0em;
          position: relative;
          border-bottom: solid 1px transparent; }
          header .header-row .header-menu .main-menu > .menu-item span {
            display: block;
            color: #6db5db;
            font-weight: normal !important;
            font-size: 17px; }
          header .header-row .header-menu .main-menu > .menu-item a {
            font-size: 17px;
            text-transform: uppercase; }
            header .header-row .header-menu .main-menu > .menu-item a:hover {
              text-decoration: none; }
          header .header-row .header-menu .main-menu > .menu-item > .menu {
            display: none;
            position: absolute; }
          header .header-row .header-menu .main-menu > .menu-item:hover {
            border-bottom: solid 1px #747473; }
            header .header-row .header-menu .main-menu > .menu-item:hover > .menu {
              display: block; }
          header .header-row .header-menu .main-menu > .menu-item.active {
            border-bottom: solid 1px #747473;
            font-weight: bold; }
          header .header-row .header-menu .main-menu > .menu-item.menuIllu {
            padding-top: 1em; }
            header .header-row .header-menu .main-menu > .menu-item.menuIllu a {
              text-transform: capitalize;
              line-height: 1; }
              header .header-row .header-menu .main-menu > .menu-item.menuIllu a span {
                line-height: 1; }
            header .header-row .header-menu .main-menu > .menu-item.menuIllu.presentation {
              padding-left: 35px; }
              header .header-row .header-menu .main-menu > .menu-item.menuIllu.presentation:before {
                content: url(../img/PictoPresentation.png);
                position: absolute;
                margin-left: -35px; }
            header .header-row .header-menu .main-menu > .menu-item.menuIllu.projet {
              padding-left: 35px; }
              header .header-row .header-menu .main-menu > .menu-item.menuIllu.projet:before {
                content: url(../img/PictoProjet.png);
                position: absolute;
                margin-left: -35px; }
            header .header-row .header-menu .main-menu > .menu-item.menuIllu.mission {
              padding-left: 35px; }
              header .header-row .header-menu .main-menu > .menu-item.menuIllu.mission:before {
                content: url(../img/PictoMission.png);
                position: absolute;
                margin-left: -35px; }
    header .header-row .header-button {
      text-align: right; }

#menuMobile {
  height: 100%;
  width: 0px;
  background-color: #fff;
  position: fixed !important;
  z-index: 5;
  overflow: auto; }
  #menuMobile .menu-responsive a {
    color: #333; }
  #menuMobile.menuMobileOpen {
    width: 200px; }

/*************ariane*/
.fil_ariane {
  background-color: #6db5db; }
  .fil_ariane p {
    margin: 0 auto;
    padding: .5em;
    width: 768px;
    color: #FFF; }
    .fil_ariane p .fa {
      color: #FFF;
      font-size: 18px;
      margin-right: 1em; }
