h1 {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #447590; }

.paragraphe .paragraphe-title {
  background-color: #447590;
  border-radius: .5em; }
  .paragraphe .paragraphe-title h2 {
    color: #FFF;
    padding: .5em; }
    .paragraphe .paragraphe-title h2 .fa {
      color: #FFF;
      font-size: 18px;
      margin-right: .5em; }
